[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
attrs = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
isort = "*"
black = "==19.10b0"

[requires]
python_version = "3.9"
